body{
    font-family: Arial,  sans-serif;
    background-color: hsl(0, 0%, 97%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Weatherform{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.306);
    border-radius: 20px;
    margin: 10px;
    width: 500px;
}

#mybutton{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(122, 45%, 55%);
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#mybutton:hover{
    
    background-color: hsl(122, 45%, 43%);
    box-shadow: 0 0 10px rgb(95, 184, 216);
}

.card{
    background: linear-gradient(180deg, hsl(209, 100%, 75%),hsl(40, 100%, 75%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

h1{
    font-size:3.5rem ;
    margin-top: 0;
    margin-bottom: 25px;
}

p{
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bolder;
    color: hsla(0, 0%, 0%, 0.765);
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
    color: hsla(0, 0%, 0%, 0.765);
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji{
    margin: 0;
    font-size: 7rem;

}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.751);
}